@tailwind base;
@tailwind components;
@tailwind utilities;
input.dark-input,
input.dark-input:-webkit-autofill,
input.dark-input:-webkit-autofill:hover,
input.dark-input:-webkit-autofill:focus,
input.dark-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #1f2937 inset !important; /* gray-800 bg */
  -webkit-text-fill-color: #fff !important; /* white text */
  background-color: #1f2937 !important;
  color: #fff !important;
  transition: background-color 5000s ease-in-out 0s !important; /* stops flash */
}